<div class="container">
  <div class="grid-container">
    <div class="grid-box">
      <br>
      <div class="avatar-box">
        <img src="https://kitt.lewagon.com/placeholder/users/fullyouu" class="card-trip-user avatar-bordered" />
      </div>
      <br>
      <div class="name-box">
        <%= current_user.full_name %>
      </div>
      <div class="city-box">
        <i class="fas fa-map-marker-alt"></i>&nbsp<%= current_user.city %>
      </div>
      <br>
      <div class="edit-button-box">
        <%= link_to 'Edit profile', edit_user_registration_path, class: "btn-primary" %>
      </div>
    </div>
    <div class="grid-box">
      <div class="appointment-box">
        <% current_user.offers.each do |offer| %>
          <%= link_to offer_path(offer), class: "card_link" do %>
            <div class="card-product">
              <% unless offer.photo.attached? %>
                <%= image_tag asset_path('default_offer_index.png'), width: 100, height: 100, crop: :fill, class: "card-image" %>
              <% else %>
                <%= cl_image_tag offer.photo.key, width: 100, height: 100, crop: :fill, class: "card-image" %>
              <% end %>
              <div class="card-product-infos">
                <div class="card-product-left">
                  <h2><%= offer.title%></h2>
                  <p><%= offer.details%></p>
                </div>
                <div class="card-product-right">
                  <img src="https://kitt.lewagon.com/placeholder/users/fullyouu" class="card-trip-user avatar-bordered" />
                  <h2 class="card-trip-pricing">€&nbsp<%= "#{offer.price}"%></h2>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="grid-box">
      <div class="ad-box">
        <img src="" alt="">
      </div>
      <div class="ad-box"></div>
    </div>
  </div>
</div>
