<div class="container">

  <div class="header">
    <br>
    <h1><strong>Offers</strong></h1>
  </div>

<% @offers.each do |offer| %>
  <%= link_to offer_path(offer), class: "card_link" do %>
    <div class="card-product">
      <% unless offer.photo.attached? %>
        <%= image_tag asset_path('default_offer_index.png'), width: 100, height: 100, crop: :fill, class: "card-image" %>
      <% else %>
        <%= cl_image_tag offer.photo.key, width: 100, height: 100, crop: :fill, class: "card-image" %>
      <% end %>
      <div class="card-product-infos">
        <div class="card-product-left">
          <h2>
            <%= offer.title%> -&nbspas
              <% if offer.user == current_user %>
                <span class="highlight-coach"><%= "Coach" %></span>
              <% else %>
                <span class="highlight-coachee"><%= "Coachee" %></span>
            <% end %>
          </h2>
          <p><%= offer.details%></p>
        </div>
        <div class="card-product-right">
          <img src="https://kitt.lewagon.com/placeholder/users/fullyouu" class="card-trip-user avatar-bordered" />
          <h3 class="card-trip-pricing">€&nbsp<%= "#{offer.price}"%></h3>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

  <div class="link">
    <br>
    <%= link_to 'Create a new offer', new_offer_path, class: "btn-primary" %>
  </div>
</div>
